.low{
    background-color: green;
    border-radius: 5px;
    color: white;
}

.moderate{
    background-color: yellow;
    border-radius: 5px;
    color: white;
}

.high{
    background-color: orange;
    border-radius: 5px;
    color: white;
}

.extreme{
    background-color: red;
    border-radius: 5px;
    color: white;
}

.futureforecast{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.forecast{
    background-color: gray;
    color:black;
    border: 2px solid black;
    text-align:center;
    padding: 5px;
}

.conditions{
    color:black;
}

.clearBtn:hover{
    background-color: grey;
}

#searchBtn:hover{
    background-color: grey;
}

#searchBtn{
    height: 38px;
}