.low{
    background-color: green;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-bottom: 20px;
}

.moderate{
    background-color: yellow;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-bottom: 20px;
}

.high{
    background-color: orange;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-bottom: 20px;
}

.extreme{
    background-color: red;
    border-radius: 5px;
    color: white;
    width: 150px;
    margin-bottom: 20px;
}

.futureforecast{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 40px;
}

.forecast{
    background-color: rgb(90, 90, 90);
    color:black;
    border: 2px solid black;
    text-align:center;
    padding: 5px;
}

.conditions{
    color:black;
}

.clearBtn:hover{
    background-color: rgb(90, 90, 90);
}

.clearBtn{
    margin-top: 10px;
    margin-bottom: 10px
}

#searchBtn:hover{
    background-color: rgb(90, 90, 90);
}

#searchBtn{
    height: 38px;
}

#searchCities{
    width: 70%;
    border: 2px solid black
}

#todayforecast{
    border: 2px solid black;
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: rgb(90, 90, 90);
}

.jumbotron{
    background-color: rgb(90, 90, 90);
    border-bottom: 2px solid black;
    color: black;
    
    
}

.list-group-item{
    background-color: lightgray;
    color: black;
    margin: 2px;
    
}

.text{
    margin-top: 15px;
    margin-bottom: 15px;
    color: black;
}

.card{
    border: 2px solid black;
    background-color: rgb(90, 90, 90);
    margin-right: 35px;
    margin-top:30px;
}

